@font-face {
font-family: 'nunito';
src: url('nunito.ttf') format('truetype');
} 

html, body {
font-family: 'Nunito', sans-serif;
margin: 0;
padding: 0;
height: 100%;
overflow: hidden;
background-color: black;
}

#canvas {
display: block;
position: fixed;
background: black;
margin: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 5;  
opacity: 0;    
transition: opacity 0.5s ease;
}

.lil-gui {
display: none;
}

#videoPoster {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
}

#bgndVideo {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
z-index: 0;
overflow: hidden;
pointer-events: none;
}

#bgndVideo iframe {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 120vw;
height: 120vh;
}

@media (max-width: 768px) {
#bgndVideo iframe {
width: 200vw;
height: 250%;
}
}

.terminal {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Nunito', sans-serif;
  border-radius: 0.75rem;
  backdrop-filter: blur(8px) brightness(1.05) saturate(120%);
  -webkit-backdrop-filter: blur(8px) brightness(1.05) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25),
              inset 0 0 0 1px rgba(255, 255, 255, 0.02);
  transition: all 0.3s ease-out;
}

.drag-area {
cursor: move;
}

.avatar-icon {
width: 110px;
height: 132px;
border-radius: 0%;
margin-right: 0.5rem;
object-fit: contain;
image-rendering: pixelated;
image-rendering: crisp-edges;
}

.avatar-icon2 {
width: 110px;
height: 132px;
border-radius: 0%;
margin-right: 0.5rem;
object-fit: contain;
image-rendering: pixelated;
image-rendering: crisp-edges;
}

.text-blue-glow {
text-shadow: 0 0 4px rgba(135, 206, 235, 0.8);
}

.text-pink-glow {
text-shadow: 0 0 4px rgba(255, 105, 180, 0.8);
}

.text-cyan-glow {
  text-shadow: 0 0 4px rgba(0, 255, 255, 0.8);
}

#typed {
min-height: 2.5em; 
}

#typed2 {
min-height: 2.5em; 
}

#typed3 {
min-height: 2.5em;
}

#typed2 .typed-cursor {
  color: white !important;
}

#typed3 .typed-cursor {
  color: white !important;
}

#guestbookComments {
  scrollbar-width: thin; 
  scrollbar-gutter: stable; 
  -ms-overflow-style: none;        
  scrollbar-color: #fce7f3 rgba(0, 0, 0, 0.001);
}

#guestbookComments::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

#guestbookComments:hover::-webkit-scrollbar {
}

#guestbookComments:hover::-webkit-scrollbar-track {
  scrollbar-color: #fce7f3 rgba(0, 0, 0, 0.001);             
}

#guestbookComments:hover::-webkit-scrollbar-thumb {
  background-color: #fce7f3;
  border-radius: 6px;
 
}













